:root {
            --theme-surface-1: #0d0f12;
--theme-surface-2: #212529;
--theme-surface-3: #495057;
--theme-text-1: #f8f9fa;
--theme-text-2: #dee2e6;
--theme-text-3: #868e96;
--theme-text-on-accent: #f8f9fa;
--theme-accent-1: #3bc9db;
--theme-accent-2: #15aabf;
--theme-gradient-green: linear-gradient(150deg, #96f2d7 0%, #3bc9db 100%);
--theme-gradient-purple: linear-gradient(150deg, #d0bfff 0%, #f783ac 100%);
--theme-gradient-blue: linear-gradient(150deg, #99e9f2 0%, #9775fa 100%);
        }