@layer normalize {
    @import "open-props/normalize";
    @import "open-props/zindex";
}

@layer base {
    @import "open-props/easings";

    :is(.visually-hidden, .sr-only) {
        block-size: 0;
        inline-size: 0;
        overflow: hidden;
    }
}

@layer theming {
    @layer sizes {
        @import "open-props/borders";
        @import "open-props/sizes";
    }

    @layer fonts {
        @import "open-props/fonts";
        @import "./fonts.scss";
    }

    @layer global {
        @import "./themes/global.scss";
    }

    @layer themes {
        @media (--OSlight) {
            @import "./themes/light.scss";
        }
        @media (--OSdark) {
            @import "./themes/dark.scss";
        }
    }
}

@layer components {
    @import "open-props/buttons";

    @import "./components.scss";
}

@layer overrides {
    :root {
        background-color: var(--theme-surface-1);
        color: var(--theme-text-1);
        accent-color: var(--theme-accent-1);
        caret-color: var(--theme-accent-1);
    }
    h1 {
        margin: 0 0 var(--size-3) 0;
        font-size: var(--font-size-6);
        font-family: var(--font-display);
        font-weight: var(--font-weight-7);
        text-transform: uppercase;
        letter-spacing: var(--font-letterspacing-3);
        line-height: var(--font-lineheight-2);
    }
    h2 {
        margin: 0 0 var(--size-1) 0;
        font-size: var(--font-size-5);
        font-family: var(--font-display);
        font-weight: var(--font-weight-5);
        text-transform: uppercase;
        letter-spacing: var(--font-letterspacing-3);
        line-height: var(--font-lineheight-2);
    }
    h3,
    h4,
    h5,
    h6 {
        font-weight: var(--font-weight-5);
        text-transform: uppercase;
        letter-spacing: var(--font-letterspacing-3);
        line-height: var(--font-lineheight-2);
    }
    h3 {
        font-size: var(--font-size-4);
    }
    h4 {
        font-size: var(--font-size-3);
    }
    h5,
    h6 {
        font-size: var(--font-size-1);
    }
    p {
        // margin: 0 0 1.5em;
        line-height: var(--font-lineheight-3);
    }
    a:not(.button) {
        color: var(--theme-accent-1);
        text-decoration: underline wavy;
    }
    a,
    button,
    input {
        outline-color: var(--theme-accent-1);
        outline-offset: var(--size-1);
    }
    ::selection {
        background-color: var(--theme-accent-1);
        color: var(--theme-text-on-accent);
        text-shadow: none;
    }
}
