---
import RacesTable from "../components/RacesTable.svelte";
import MainLayout from "../layouts/main.astro";
---

<MainLayout>
    <div class="w-full flex flex-col gap-3">
        <RacesTable client:load />
    </div>
</MainLayout>
