---
import Countdown from "@/components/Countdown.svelte";
import MainLayout from "@/layouts/main.astro";
---

<MainLayout>
    <div class="w-full flex flex-col gap-3">
        <Countdown client:load />
    </div>
</MainLayout>
