---
import { getWeekend } from "../../lib/utils/date";
import RoundCard from "../components/RoundCard.astro";
import MainLayout from "../layouts/main.astro";
import { trpc } from "./client";

const url = Astro.request.url;
const params = new URL(url).searchParams;

const weekOffset = Number(params.get("offset"));
const [startDate, endDate] = getWeekend(weekOffset);

const weekends = await trpc.rounds.getWeekends.query({ startDate, endDate });
---

<MainLayout>
    <h1>
        {
            new Intl.RelativeTimeFormat("en-GB", {
                numeric: "auto",
            }).format(weekOffset, "week")
        }
    </h1>
    <ul class="round-list" role="list">
        {
            weekends.map((round) => (
                <li>
                    <RoundCard
                        link={`/round/${round.id}`}
                        {round}
                        showNextSession
                    />
                </li>
            ))
        }
    </ul>
    <a href={`?offset=${weekOffset - 1}`}>Previous</a>
    <a href={`?offset=${weekOffset + 1}`}>Next</a>
    {weekOffset !== 0 && <a href={`?offset=0`}>Back to This week</a>}
</MainLayout>

<style lang="scss">
    h1 {
        text-transform: capitalize;
    }

    .round-list {
        display: flex;
        flex-direction: column;
        gap: var(--size-7);

        padding: 0;
        list-style: none;

        > li {
            padding: 0;
        }
    }
</style>
