---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Motorsport Calendar REST API</title>
    </head>
    <body>
        <h1>Motorsport Calendar REST API</h1>
        <h2>Available Routes</h2>
        <table>
            <tr>
                <td>GET, POST, DELETE</td>
                <td><a href="/api/circuits">/api/circuits</a></td>
            </tr>
            <tr>
                <td>GET, POST, DELETE</td>
                <td><a href="/api/rounds">/api/rounds</a></td>
            </tr>
            <tr>
                <td>GET, POST, DELETE</td>
                <td><a href="/api/sessions">/api/sessions</a></td>
            </tr>
            <tr>
                <td>GET</td>
                <td><a href="/feed.ics">/feed.ics</a></td>
            </tr>
        </table>
    </body>
</html>
