---
import { trpc } from "../../lib/trpc/client";
import RoundCard from "../components/RoundCard.astro";
import MainLayout from "../layouts/main.astro";

const url = Astro.request.url;
const params = new URL(url).searchParams;

const weekOffset = Number(params.get("offset"));
const weekends = await trpc.rounds.getWeekend.query({ weekOffset });
---

<MainLayout title="Homepage">
    <h1>
        {
            new Intl.RelativeTimeFormat("en-GB", {
                numeric: "auto",
            }).format(weekOffset, "week")
        }
    </h1>
    <ul class="round-list" role="list">
        {
            weekends.map((round) => (
                <li transition:name={`round-${round.id}`}>
                    <RoundCard
                        link={`/round/${round.id}`}
                        {round}
                        showNextSession
                    />
                </li>
            ))
        }
    </ul>
    <a href={`?offset=${weekOffset - 1}`}>Previous</a>
    <a href={`?offset=${weekOffset + 1}`}>Next</a>
    {weekOffset !== 0 && <a href={`?offset=0`}>Back to This week</a>}
</MainLayout>

<style lang="scss">
    h1 {
        text-transform: capitalize;
    }

    .round-list {
        display: flex;
        flex-direction: column;
        gap: var(--size-7);

        padding: 0;
        list-style: none;

        > li {
            padding: 0;
            max-inline-size: unset;
        }
    }
</style>
