---
import { trpc } from "lib/trpc/client";
import RoundCard from "../components/RoundCard.astro";
import MainLayout from "../layouts/main.astro";
import IndexNav from "src/components/IndexNav.astro";
import { Icon } from "astro-icon/components";

const url = Astro.request.url;
const params = new URL(url).searchParams;

const weekOffset = Number(params.get("offset"));
const weekends = await trpc.rounds.getWeekend.query({ weekOffset });
---

<MainLayout title="Homepage">
    <IndexNav />

    <a href={`?offset=${weekOffset - 1}`} class="btn btn-surface">
        <Icon name="lucide:chevron-up" />
        <span>Previous</span>
    </a>
    <section>
        <h1 id="this-weekend">
            {
                new Intl.RelativeTimeFormat("en-GB", {
                    numeric: "auto",
                }).format(weekOffset, "week")
            }
        </h1>
        <ul class="round-list" role="list">
            {
                weekends?.length ? (
                    weekends.map((round) => (
                        <li
                            id={`round-${round.id}`}
                            transition:name={`round-${round.id}`}
                        >
                            <RoundCard
                                link={`/round/${round.id}`}
                                {round}
                                showNextSession
                            />
                        </li>
                    ))
                ) : (
                    <div>Nothing here!</div>
                )
            }
        </ul>
    </section>
    <a href={`?offset=${weekOffset + 1}`} class="btn btn-surface">
        <Icon name="lucide:chevron-down" />
        <span>Next</span>
    </a>
</MainLayout>

<style lang="scss">
    h1 {
        text-transform: capitalize;
    }

    .round-list {
        display: flex;
        flex-direction: column;
        gap: var(--size-7);

        padding: 0;
        list-style: none;

        > li {
            padding: 0;
            max-inline-size: unset;
        }
    }
</style>
