---
import Countdown from "../components/Countdown.svelte";
import MainLayout from "../layouts/main.astro";
---

<MainLayout>
    <div class="w-full flex flex-col gap-3">
        <h1 class="text-2xl font-medium">Motorsport Calendar</h1>

        <Countdown client:load />
    </div>
</MainLayout>
