---
import { Icon } from "astro-icon/components";
import { getSeriesIcon } from "../../../lib/utils/series";
import SessionCard from "../../components/SessionCard.astro";
import MainLayout from "../../layouts/main.astro";
import { trpc } from "../../pages/client";

const { id } = Astro.params;

const round = await trpc.rounds.getOne.query(id ?? "");
---

<MainLayout>
        {
            round && (
                <>
                    <div
                        class={
                            "round-header button " +
                            round.sessions.every(
                                (s) => s.endDate.valueOf() < Date.now()
                            )
                                ? "past"
                                : ""
                        }
                    >
                        <Icon
                            name={`fluent-emoji-high-contrast:${getSeriesIcon(
                                round.series
                            )}`}
                        />
                        <h2>{round.title}</h2>
                    </div>
                    <ol role="list" class="session-list">
                        {round.sessions.map((session) => (
                            <SessionCard {session} />
                        ))}
                    </ol>
                </>
            )
        }
</MainLayout>

<style lang="scss" define:vars={{ "color-hue": `var(--${round?.series}-hue)` }}>
    .round-header {
    }

    .session-list {
        list-style: none;
        padding: 0;
    }
</style>
