---
import { trpc } from "../../../lib/trpc/client";
import RoundCard from "../../components/RoundCard.astro";
import SessionCard from "../../components/SessionCard.astro";
import MainLayout from "../../layouts/main.astro";

const { id } = Astro.params;

const round = await trpc.rounds.getOne.query(id ?? "");
---

<MainLayout>
    {
        round && (
            <>
                <div transition:name={`round-${round.id}`}>
                    <RoundCard {round} />
                </div>

                <ol role="list" class="session-list">
                    {round.sessions.map((session) => (
                        <SessionCard session={session} />
                    ))}
                </ol>
            </>
        )
    }
</MainLayout>

<style lang="scss" define:vars={{ "color-hue": `var(--${round?.series}-hue)` }}>
    .round-header {
    }

    .session-list {
        list-style: none;
        padding: 0;
    }
</style>
