---
import MainLayout from "../../layouts/main.astro";
---

<MainLayout>
    <div class="container">
        <h1>Motorsport Calendar REST API</h1>

        <table>
            <caption>Available Routes</caption>
            <thead>
                <tr>
                    <th>Protocol</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GET, POST, DELETE</td>
                    <td><a href="/api/circuits">/api/circuits</a></td>
                </tr>
                <tr>
                    <td>GET, POST, DELETE</td>
                    <td><a href="/api/rounds">/api/rounds</a></td>
                </tr>
                <tr>
                    <td>GET, POST, DELETE</td>
                    <td><a href="/api/sessions">/api/sessions</a></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href="/api/next-race">/api/next-race</a></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href="/api/all-races">/api/all-races</a></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href="/api/delete-season">/api/delete-season</a></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>
                        <a href="/api/reset-database">/api/reset-database</a>
                    </td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href="/api/scrape">/api/scrape</a></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>
                        <a href="/api/scrape-wikipedia">
                            /api/scrape-wikipedia
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</MainLayout>

<style lang="scss">
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--size-3);
    }

    h1 {
        font-size: var(--font-size-5);
        line-height: var(--font-lineheight-3);
        font-weight: var(--font-weight-7);
    }
    caption {
        font-size: var(--font-size-3);
        line-height: var(--font-lineheight-3);
    }

    table {
        position: relative;
        text-align: left;
        text-indent: 0;
        border-color: inherit;
        border-collapse: collapse;
        width: 100%;
        color: var(--text-1);

        th,
        td {
            white-space: nowrap;
            padding: var(--size-3);
            vertical-align: middle;
        }

        thead {
            th {
                background-color: var(--surface-1);
                color: var(--text-3);
                font-size: var(--font-size-0);
                line-height: var(--font-lineheight-1);
                font-weight: var(--font-weight-7);
                text-transform: uppercase;
            }
        }

        tbody {
            th,
            td {
                background-color: var(--surface-document);
            }

            tr:nth-child(even) {
                th,
                td {
                    background: var(--surface-1);
                }
            }
        }

        tbody > tr {
            scroll-margin-top: var(--size-8);
        }
    }
</style>
