---
import MainLayout from "../../layouts/main.astro";
---

<MainLayout>
    <div class="w-full flex flex-col gap-3">
        <h1 class="text-2xl font-medium">Motorsport Calendar REST API</h1>
        <h2 class="text-lg">Available Routes</h2>

        <table class="daisy-table daisy-table-zebra w-full">
            <thead>
                <tr>
                    <th>Protocol</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GET, POST, DELETE</td>
                    <td><a href="/api/circuits">/api/circuits</a></td>
                </tr>
                <tr>
                    <td>GET, POST, DELETE</td>
                    <td><a href="/api/rounds">/api/rounds</a></td>
                </tr>
                <tr>
                    <td>GET, POST, DELETE</td>
                    <td><a href="/api/sessions">/api/sessions</a></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href="/api/next-race">/api/next-race</a></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href="/api/delete-season">/api/delete-season</a></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href="/api/scrape">/api/scrape</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</MainLayout>
