---
import { Icon } from "astro-icon/components";
import TimeFormatButton from "./TimeFormatButton.svelte";
---

<nav>
    <ul>
        <li>
            <button>
                <Icon name="lucide:list-filter" />
            </button>
        </li>
        <li>
            <TimeFormatButton client:load />
        </li>
    </ul>

    <ul>
        <li>
            <button>
                <Icon name="lucide:share" />
            </button>
        </li>
        <li>
            <button>
                <Icon name="lucide:bell" />
            </button>
        </li>
        <li>
            <button>
                <Icon name="lucide:alert-octagon" />
            </button>
        </li>
    </ul>
</nav>

<style lang="scss">
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: env(safe-area-inset-top, 0);
        left: env(safe-area-inset-left, 0);
        right: env(safe-area-inset-right, 0);
        padding: var(--size-5) var(--size-3) 0;
        z-index: var(--layer-important);

        :global(:is([data-icon], .iconify)) {
            width: 1.5rem;
            height: 1.5rem;
        }

        ul {
            list-style: none;
            display: inline-flex;
            flex-direction: row;
            gap: 0;
            flex-wrap: wrap;
            padding-inline: var(--size-1);
            background: var(--surface-1);
            border: var(--surface-2) var(--border-size-2) solid;
            border-radius: var(--radius-4);
            padding: 0.25rem 0.5rem;

            > li {
                padding: 0;

                :global(button) {
                    padding: 0.75rem;
                    background: transparent;
                }
            }
        }
    }
</style>
