---
import { Icon } from "astro-icon/components";
import TimeFormatButton from "./TimeFormatButton.svelte";
---

<nav class="nav top-nav">
	<ul>
		<li>
			<button>
				<Icon name="filled/filter" />
			</button>
		</li>
		<li>
			<TimeFormatButton client:load>
				<Icon name="filled/clock" />
			</TimeFormatButton>
		</li>
	</ul>

	<ul>
		<li>
			<button>
				<Icon name="filled/bell" />
			</button>
		</li>
		<li>
			<button>
				<Icon name="filled/octagon-exclamation" />
			</button>
		</li>
	</ul>
</nav>
