---
import { Icon } from "astro-icon/components";
---

<form method="post" action="/api/auth/logout">
	<button type="submit">
		<Icon name="hollow/arrow-right-from-bracket" />
		<span class="visually-hidden">Sign out</span>
	</button>
</form>
