<header class="navbar">
    <div class="title">
        <a href="/">Motorsport Calendar</a>
    </div>
    <nav>
        <ul>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/feed.ics" download>Feed</a></li>
        </ul>
    </nav>
</header>

<style lang="scss">
    header.navbar {
        display: flex;
        align-items: center;
        padding: var(--size-2);
        min-height: var(--size-9);
        width: 100%;

        --tw-bg-opacity: 1;
        background-color: var(--surface-1);

        div.title {
            flex: 1 1 0%;
            min-width: 0;

            a {
                font-size: var(--font-size-3);
                line-height: var(--font-lineheight-4);
                padding-inline: var(--size-3);
                min-height: var(--size-8);
                font-weight: var(--font-weight-7);
            }
        }

        nav {
            flex: none;

            ul {
                list-style: none;
                display: inline-flex;
                flex-direction: row;
                gap: var(--size-3);
                flex-wrap: wrap;
                width: -moz-max-content;
                width: max-content;
                padding-inline: var(--size-1);

                > li {
                    padding: 0;

                    > a {
                        display: flex;
                        padding: var(--size-3) var(--size-4);
                        color: currentColor;
                    }
                }
            }
        }
    }
</style>
