<nav class="daisy-navbar bg-base-100">
    <div class="flex-1">
        <a href="/" class="daisy-btn daisy-btn-ghost normal-case text-xl">
            Motorsport Calendar
        </a>
    </div>
    <div class="flex-none">
        <ul class="daisy-menu daisy-menu-horizontal px-1">
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/feed.ics" download="">Feed</a></li>
        </ul>
    </div>
</nav>
