---
import { Icon } from "astro-icon/components";
import TimeFormatButton from "./TimeFormatButton.svelte";
---

<nav class="nav top-nav">
    <ul>
        <li>
            <TimeFormatButton client:load>
				<Icon name="clock" />
			</TimeFormatButton>
        </li>
    </ul>

    <ul>
        <li>
            <button>
                <Icon name="share-ios" />
            </button>
        </li>
        <li>
            <button>
                <Icon name="bell" />
            </button>
        </li>
        <li>
            <button>
                <Icon name="alert-diamond" />
            </button>
        </li>
    </ul>
</nav>
