---
import { Icon } from "astro-icon/components";
import SharedNavItems from "./SharedNavItems.astro";
import TimeFormatButton from "./TimeFormatButton.svelte";
---

<nav class="nav top-nav">
	<ul>
		<li>
			<TimeFormatButton client:load>
				<Icon name="hollow/clock" />
			</TimeFormatButton>
		</li>
	</ul>

	<ul>
		<li>
			<button>
				<Icon name="hollow/paper-plane" />
			</button>
		</li>
		<SharedNavItems />
	</ul>
</nav>
