---
import { Icon } from "astro-icon/components";
import TimeFormatButton from "./TimeFormatButton.svelte";
---

<nav class="nav top-nav">
    <ul>
        <li>
            <TimeFormatButton client:load />
        </li>
    </ul>

    <ul>
        <li>
            <button>
                <Icon name="lucide:share" />
            </button>
        </li>
        <li>
            <button>
                <Icon name="lucide:bell" />
            </button>
        </li>
        <li>
            <button>
                <Icon name="lucide:alert-octagon" />
            </button>
        </li>
    </ul>
</nav>
