---
import { SeriesId } from "$db/rounds/types";
import { Session } from "$db/sessions/types";
import { getSessionTitle } from "$lib/utils/sessions";
import Time from "./Time.svelte";

interface Props {
	session: Pick<Session, "type" | "number" | "start" | "end">;
	series: SeriesId | null;
	timeZone: string;
}
const { session, series, timeZone } = Astro.props;
---

<h3>
	{getSessionTitle(series, session.type, session.number)}
</h3>
<Time start={session.start} end={session.end} timeZone={timeZone ?? undefined} client:idle />
