---
import { Icon } from "astro-icon/components";
import LogOutButton from "./LogOutButton.astro";
---

<li>
	<button>
		<Icon name="hollow/bell" />
	</button>
</li>
<li>
	<button>
		<Icon name="hollow/octagon-exclamation" />
	</button>
</li>
<li>
	<LogOutButton />
</li>
