---
import MainHead from "$components/MainHead.astro";
import MainNav from "$components/MainNav.astro";

interface Props {
	title?: string;
	path: string;
}

const { title, path } = Astro.props;
---

<html lang="en">
	<MainHead {title} />
	<body>
		<a id="skip-link" href="#main-content">Skip to main content</a>

		<MainNav transition:name="main-nav" {path} />

		<main id="main-content">
			<slot />
		</main>

		<style lang="postcss">
            #skip-link {
                opacity: 0;
                position: absolute;
                transition: opacity 0.3s var(--ease-3);

                &:focus {
                    opacity: 1;
                }
            }
        </style>
	</body>
</html>
