---
import Nav from "../components/Nav.astro";

import "../styles/global.scss";
---

<html lang="en" data-theme="cupcake">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Motorsport Calendar</title>
    </head>
    <body>
        <a id="skip-link" href="#main-content">Skip to main content</a>

        <header>
            <Nav />
        </header>

        <main id="main-content">
            <slot />
        </main>
    </body>
</html>

<style lang="scss">
    #skip-link {
        opacity: 0;
        position: absolute;
        transition: opacity 0.3s var(--ease-3);

        &:focus {
            opacity: 1;
        }
    }
    main {
        max-width: var(--size-lg);
        margin-inline: auto;
    }
</style>
